.aboutArea {
    flex-direction: column;
    width: 100%;
}

.aboutTitle {
    position: relative;
    font-size: 5rem;
    padding-left: 6rem;
    top: 3.1rem;
    margin: 0;
}

.card {
    display: flex;
    padding: 1rem;
    border-radius: 5rem;
    width: 35rem;
    position: relative;
    /* display: inline-block; */
}

.about1, .about3 {
    margin-right: 3rem;
}
.about2, .about4 {
    margin-left: 3rem;   
}

.card .img-top {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
}
.card > img, .img-top > img{
    border-radius: .2rem;
}

.card:hover .img-top {
    display: inline;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.9s ease;
}

.aboutText {
    background: rgba(0, 0, 0, 0.468);
    color: var(--text-clr);
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .1rem;
}

@media (max-width: 950px) {
    .aboutTitle {
        position: unset;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .card {
        width: 100%;
        margin: 0;
    }
}