.skillsArea {
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.skillsLetter {
    margin: 0;
    line-height: 1;
}

.bigSkillsHeader{
    display: block;
}
.smallSkillsHeader{
    display: none;
}

.skill {
    background: var(--object-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    width: 7rem;
    height: 7rem;
}

@media (max-width: 950px) {
    .skillsArea {
        padding: 1rem;
    }
    .bigSkillsHeader{
        display: none;
    }
    .smallSkillsHeader {
        display: block;
        display: flex;
        margin-bottom: 0;
    }
    .skill {
        width: 17%;
        margin: 0.1rem;
        padding: 0.5rem;
    }
}

@media (max-width: 550px) {
    .skill {
        height: 3rem;
    }
}