:root {
  --clr-black: #373737;
  --clr-light-gray: #b1a4a5;
  --clr-dark-gray: #777777;
  --clr-lavender: #e7cee3;
  --clr-peach: #ffe2d5;
  --clr-yellow: #ffddb7;

  --bg-clr: var(--clr-black);
  --text-clr: var(--clr-lavender);
  --object-clr: var(--clr-light-gray);
  --bubble-clr1: var(--clr-dark-gray);
  --bubble-clr2: var(--clr-peach);
  --bubble-clr3: var(--clr-yellow);
}

/* export enum MediaQuery {
  DESKTOP = '@media (min-width: 770px)',
  TABLET = '@media (max-width: 770px)',
  MOBILE = '@media (max-width: 576px)'

  cursor-default = './cursorDefault.svg';
  cursor-focus = './cursorFokus.svg';
} */

* {
  box-sizing: border-box;
  cursor: url("./assets/cursorDefault.svg") 10 10, auto;
}

html {
  scroll-behavior: smooth;
  font-family: "Saira Condensed", sans-serif;
}

body {
  margin: 0;
  background: var(--bg-clr);
  font-family: "Saira Condensed", sans-serif;
}

h1,
h2 {
  letter-spacing: 3px;
  color: var(--text-clr);
  font-size: 2rem;
}

hr {
  background: var(--bubble-clr2);
  height: 0.03rem;
  width: 60%;
  border: none;
  margin-top: 0;
}

/* .projectArea, .aboutArea, .skillsArea, .contactArea {
  opacity: 0; */
/* transition: opacity 3s; */
/* transition: opacity 2s ease-in-out;
} */

/* REUSABLE CLASSES  */
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.flexEnd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 950px) {
  h2 {
    font-size: 1.5rem;
    /* margin-bottom: 0; */
  }
}
